@model DataLayer.Models.Pagination.PaginatedList<Contracts.Request.UserRequestGetResponse>
@using Contracts.Request
@using SharedDll.Enums
@{
    ViewData["Title"] = "AllUserRequests";
    var filter = ViewData["CurrentFilter"] as UserRequestFilter;
    var selectedLeaveType = filter?.LeaveType;



    var queryParams = string.Empty;
    if (filter != null)
    {
        var properties = filter.GetType().GetProperties();
        var queryList = new List<string>();

        foreach (var prop in properties)
        {
            var value = prop.GetValue(filter);
            if (value != null)
            {
                queryList.Add($"{prop.Name}={Uri.EscapeDataString(value.ToString())}");
            }
        }

        queryParams = string.Join("&", queryList);
    }
}


<h1>AllUserRequests</h1>

<p>
    <a asp-controller="UserRequest" asp-action="CreateUserRequest">Create New</a>
</p>

<div>
    <form asp-action="AllUserRequests" asp-controller="UserRequest" method="get">

        @*         <div class="search-section">
        <input id="searchInput" name="@nameof(UserRequestFilter.SearchString)" class="form-control me-1" type="search" placeholder="Search"
        aria-label="Search" value="@filter?.SearchString">

        <button id="searchButton" class="btn btn-dark" type="submit">Search by name</button>

        <a asp-action="AllUserRequests" class="text-dark">Back to Full List</a>

        </div> *@

        <select name="LeaveType" class="dropdown-container" onchange="this.form.submit()">
            @{

                @foreach (var option in Enum.GetValues(typeof(LeaveTypeEnum)))
                {
                    if (option.Equals(selectedLeaveType))
                    {
                        <option value="@option" selected>@option</option>
                    }
                    else
                    {
                        <option value="@option">@option</option>
                    }
                }

            }

        </select>

    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Items[0].EmployeeFirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Items[0].StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.Items[0].EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.Items[0].LeaveType)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EmployeeFirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.LeaveType)</td>
                <td>
                    <span class="card-icon"><i class="fas fa-pencil-alt"></i></span>
                    @Html.ActionLink("Edit", "GetUserRequestById", new { id = item.Id }) |

                    <span class="card-icon"><i class="fas fa-check"></i></span>
                    @Html.ActionLink("Approve", "ApproveUserRequest", new { id = item.Id }) |


                    @if (item.Approval.Equals(RequestApprovalEnum.StandBy))
                    {
                        <span class="card-icon"><b>X</b></span>
                        @Html.ActionLink("Reject", "RejectUserRequest", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <a class="page-link @(Model.PageIndex == 1 ? "disabled" : "")" href="?pageNumber=1&@queryParams">&laquo;&laquo;</a>
    <a class="page-link @(Model.HasPreviousPage ? "" : "disabled")" href="?pageNumber=@(Model.PageIndex - 1)&@queryParams">&laquo;</a>

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a class="page-link @(Model.PageIndex == i ? "active" : "")" href="?pageNumber=@i&@queryParams">@i</a>
    }

    <a class="page-link @(Model.HasNextPage ? "" : "disabled")" href="?pageNumber=@(Model.PageIndex + 1)&@queryParams">&raquo;</a>
    <a class="page-link @(Model.PageIndex == Model.TotalPages ? "disabled" : "")" href="?pageNumber=@Model.TotalPages&@queryParams">&raquo;&raquo;</a>
</div>

