@model DataLayer.Models.Pagination.PaginatedList<DataLayer.Models.Request.UserRequest>
@{
    ViewData["Title"] = "AllUserRequests";
}

<h1>AllUserRequests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].CommentEmployee)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.Items[0].CommentHR)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.Items[0].EmployeeId)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.Items[0].Approved)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.Items[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentHR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateUserRequest", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteUserRequest", new { id = item.Id }) |
                @Html.ActionLink("Approve", "ApproveUserRequest", new { id = item.Id });        
            </td>
        </tr>
}
    </tbody>
</table>
<div class="col-md-6">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link text-black" asp-route-pageNumber="1"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>First</span>
                </a>
            </li>

            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>Previous</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="@i"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>Next</span>
                </a>
            </li>
            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                <a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>Last</span>
                </a>
            </li>


        </ul>
    </nav>
</div>
