@model DataLayer.Models.Pagination.PaginatedList<DataLayer.Models.Position.UserPosition>
@using Contracts.Position


@section Scripts {
    <script src="~/js/searchButtonToggle.js"></script>
}

@{
    ViewData["Title"] = "AllUserPositions";
    var filter = ViewData["CurrentFilter"] as UserPositionFilter;

    var queryParams = string.Empty;
    if (filter != null)
    {
        var properties = filter.GetType().GetProperties();
        var queryList = new List<string>();

        foreach (var prop in properties)
        {
            var value = prop.GetValue(filter);
            if (value != null)
            {
                queryList.Add($"{prop.Name}={Uri.EscapeDataString(value.ToString())}");
            }
        }

        queryParams = string.Join("&", queryList);
    }
}

<h1>Positions</h1>

<p>
    <a asp-area="Admin" asp-controller="UserPosition" asp-action="CreateUserPosition">Create New</a>
</p>
<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-area="Admin" asp-action="AllUserPositions" asp-controller="UserPosition">
            <input id="searchInput" name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@filter?.SearchString">
            <button id="searchButton" class="btn btn-dark" type="submit" disabled>Search by name</button>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-area="Admin" asp-controller="UserPosition" asp-action="AllUserPositions" class="text-dark">Back to Full List</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Caption
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "GetUserPositionById", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteUserPosition", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-md-6">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link text-black" href="?pageNumber=1&@queryParams">
                    <span>First</span>
                </a>
            </li>

            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link text-black" href="?pageNumber=@(Model.PageIndex - 1)&@queryParams">
                    <span>Previous</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link text-black" href="?pageNumber=@i&@queryParams">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link text-black" href="?pageNumber=@(Model.PageIndex + 1)&@queryParams">
                    <span>Next</span>
                </a>
            </li>
            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                <a class="page-link text-black" href="?pageNumber=@Model.TotalPages&@queryParams">
                    <span>Last</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


