@* @model IEnumerable<DataLayer.Models.Position.UserPosition> *@
@model DataLayer.Models.Pagination.PaginatedList<DataLayer.Models.Position.UserPosition>

@{
    ViewData["Title"] = "AllUserPositions";
}

<h1>Positions</h1>

<p>
    <a asp-controller="UserPosition" asp-action="CreateUserPosition">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Caption
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateUserPosition", new { id = item.Id}) |
                    @Html.ActionLink("Delete", "DeleteUserPosition", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-md-6">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link text-black" asp-route-pageNumber="1"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>First</span>
                </a>
            </li>

            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>Previous</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="@i"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>Next</span>
                </a>
            </li>
            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                <a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <span>Last</span>
                </a>
            </li>


        </ul>
    </nav>
</div>
